@page
@using Hariom.Localization
@using Hariom.Web.Pages.Treatments
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model CreateModalModel
@inject IStringLocalizer<HariomResource> L
@{
    Layout = null;
}

<form asp-page="/Treatments/CreateModal">
    <abp-modal>
            <abp-modal-header title="@L["NewTreatment"].Value"></abp-modal-header>
            <abp-modal-body>
                @* <abp-select  asp-for="@Model.Treatment.DiseaseId" asp-items="@Model.Treatment.Diseases"/> *@
                <div class="mb-3">
                    <label class="form-label" asp-for="Treatment.DiseaseId"></label>
                    <select asp-for="Treatment.DiseaseId"
                        class="auto-complete-select form-select form-control"
                        data-autocomplete-api-url="/api/app/disease?skipCount=0&maxResultCount=1000"
                            data-autocomplete-display-property="name"
                            data-autocomplete-value-property="id"
                            data-autocomplete-items-property="items"
                            data-autocomplete-filter-param-name="filter"
                            data-autocomplete-allow-clear="true">
                    </select>
                    <span asp-validation-for="Treatment.DiseaseId" class="text-danger"></span>
                </div>


            <abp-input asp-for="@Model.Treatment.AboutDisease" autocomplete="off" />
            <abp-input asp-for="@Model.Treatment.DiseaseSymptoms" autocomplete="off" />
            <abp-input asp-for="@Model.Treatment.DiseaseCauses" autocomplete="off" />
            <abp-input asp-for="@Model.Treatment.DiseaseDiagnose" autocomplete="off" />
                @* <abp-select  asp-for="@Model.Treatment.SelectedMedicines"  asp-items="@Model.Treatment.Medicines"/> *@

                <div class="mb-3">
                    <label class="form-label" asp-for="Treatment.SelectedMedicines"></label>
                    <select asp-for="Treatment.SelectedMedicines"
                        class="auto-complete-select"
                        multiple="multiple"
                        data-autocomplete-api-url="/api/app/medicine?skipCount=0&maxResultCount=1000"
                        data-autocomplete-display-property="name"
                        data-autocomplete-value-property="id"
                        data-autocomplete-items-property="items"
                        data-autocomplete-filter-param-name="filter"
                        data-autocomplete-parent-selector=".modal-content">
                    </select>
                    <span asp-validation-for="Treatment.SelectedMedicines" class="text-danger"></span>
                </div>

            <abp-input asp-for="@Model.Treatment.MedicineDescription" autocomplete="off" />
                @* <abp-select  asp-for="@Model.Treatment.SelectedMantras"  asp-items="@Model.Treatment.Mantras"/> *@
                <div class="mb-3">
                    <label class="form-label" asp-for="Treatment.SelectedMantras"></label>
                    <select asp-for="Treatment.SelectedMantras"
                            class="auto-complete-select"
                            multiple="multiple"
                        data-autocomplete-api-url="/api/app/mantra?skipCount=0&maxResultCount=1000"
                            data-autocomplete-display-property="name"
                            data-autocomplete-value-property="id"
                            data-autocomplete-items-property="items"
                            data-autocomplete-filter-param-name="filter"
                        data-autocomplete-parent-selector=".modal-content">
                    </select>
                    <span asp-validation-for="Treatment.SelectedMantras" class="text-danger"></span>
                </div>
            <abp-input asp-for="@Model.Treatment.MantraDescription" autocomplete="off" />
                @* <abp-select  asp-for="@Model.Treatment.SelectedYogtheropies"  asp-items="@Model.Treatment.Yogtheropies"/> *@
                <div class="mb-3">
                    <label class="form-label" asp-for="Treatment.SelectedYogtheropies"></label>
                    <select asp-for="Treatment.SelectedYogtheropies"
                            class="auto-complete-select"
                            multiple="multiple"
                        data-autocomplete-api-url="/api/app/yog-therapy?skipCount=0&maxResultCount=1000"
                        data-autocomplete-display-property="yogopcharTherapy"
                            data-autocomplete-value-property="id"
                            data-autocomplete-items-property="items"
                            data-autocomplete-filter-param-name="filter"
                        data-autocomplete-parent-selector=".modal-content">
                    </select>
                    <span asp-validation-for="Treatment.SelectedYogtheropies" class="text-danger"></span>
                </div>
            <abp-input asp-for="@Model.Treatment.YogupcharDescription" autocomplete="off" />
            <abp-input asp-for="@Model.Treatment.MantraDescription" autocomplete="off" />
            <abp-input asp-for="@Model.Treatment.OtherRemedies" autocomplete="off" />
            <abp-input asp-for="@Model.Treatment.ImmediateTreatment" autocomplete="off" />
            <abp-input asp-for="@Model.Treatment.PathyaAahar" autocomplete="off" />
            <abp-input asp-for="@Model.Treatment.PathyaVihar" autocomplete="off" />
            <abp-input asp-for="@Model.Treatment.ApathyaAahar" autocomplete="off" />
            <abp-input asp-for="@Model.Treatment.ApathyaVihar" autocomplete="off" />
            <abp-input asp-for="@Model.Treatment.SantsangLink" autocomplete="off" />
            <abp-input asp-for="@Model.Treatment.SadhakAnubhavLink" autocomplete="off" />

            </abp-modal-body>
            <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
